*{
    box-sizing: border-box;

}
#root,  .header-container {
    width: 100%;
    margin: 0;
    padding: 0;
}


body {
    font-family: Inter, sans-serif;
}
/* For Seats */
.seatBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#seats-container{
    display: grid;
    grid-template-columns: repeat(13, 110px);
    grid-template-rows: repeat(8,110px);
}
.seat{
    height: 102px;
    width: 100px;
    background-color: grey;
}
/* Float four columns side by side */
/* ----------------------------------------- start of desktop screen styles  -------------------------*/
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.container, .header-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-container {
    text-align: center;
}

.container h1 {
    text-align:  center;
    display: inline-block;
    height: 44px;
    margin-top: 86px;
    margin-bottom: 44px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 30px;
}

.row {
    margin: 0 -5px;
    padding-inline: 5%;
    padding-left: 120px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Style for the CinemaPlace */
.cinemaPlaceBody{
    margin-top: 30%;
    margin-inline: 1%;
    font-size: 80%;
}
.selectedElements{
    font-weight: bold;
    margin-inline: 1%;
}
.leftSide span{
    float: left;
}
.leftSide{

}
.rightSide{

    float: right;
}
/* Style for the film block */
.filmBlockBody{
    margin-top: 5%;
    width: 100%;
    text-align:start;
}
.filmImage{
    margin-inline-start: 1%;
    margin-inline-end: 5%;
    width: 17%;
    float: left;

}

.filmInfoBlockOne{
    width: 25%;
    float: left;
    display: grid;
}
.filmInfoBlockTwo{
    width: 45%;
    float: right;
    display: grid;

}
.filmTime{
    font-size: 80%;
    font-weight: bold;
}
.filmAgeAccess, .filmLang{
    font-size: small;
    color: #9C9C9C;
}
.filmName{
    color: #E3231E;
    font-weight: bold;
    font-size: 80%;
}



/* Style for the green component */
.selectedBody{
    text-align: center;
    width: 100%;

}
.selectedBody span{
    padding: 1%;
    color: white;
    display: inline;
}
.selected{
    width: 100%;
    background: #1CC641;
    text-align: center;
    padding: 2%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 400;
    margin-top: 5%;
}
/* Style the counter cards */
.card {
    width: 338px;
    height: 332px;
    text-align: center;
    background-color: #fff;
    padding: 10px;

    margin-top: 47px;
    margin-right: 94px;
    background: #F1F1F1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.card img {
    height: 127px;
    width: 180px;
    border-radius: 290px;
}

.card-body {
    margin-top: 40px;
    padding: 0;
    text-align: center;
}

.card-body h5 {
    height: 31px;
    font-family: Inter;
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    margin-bottom:  30px;

}
.card-body button{
    margin-bottom: 15px;
    height: 67px;
    width: 210px;
    border-radius: 16px;
    background: #E3231E;
    border-radius: 16px;
    border: transparent;
    color: #fff;
    font-family: Inter;
    font-size: 31px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

}
@media screen and (min-width: 200px){
    .suggest-date-body{
        width: 200px; 
        padding-bottom: 15px;   
    }
    .suggest-title{
        font-size: 16px
    }
    .date-block h5{
        padding: 10px;
        font-size: 12px;  
    }
    .date-block{
        margin-inline: 50px;
    }
}
@media screen and (min-width: 300px){
    .suggest-date-body{
        width: 350px; 
        padding-bottom: 15px;   
    }
    .suggest-title{
        font-size: 18px
    }
    .date-block h5{
        padding: 15px;
        font-size: 16px;  
    }
    .date-block{
        margin-inline: 50px;
    }
}

@media screen and (min-width: 700px){      
    .suggest-date-body{
        width: 600px;  
        padding-bottom: 15px; 
    }
    .suggest-title{
        font-size: 24px
    }
    .date-block h5{
        padding-block: 20px;
        font-size: 22px;
    }
    .date-block{
        margin-inline: 80px;
    }
}
@media screen and (min-width: 900px){      
    .suggest-date-body{
        width: 600px;  
        padding-bottom: 20px; 
    }
    .suggest-title{
        font-size: 26px
    }
    .date-block h5{
        padding-block: 20px;
        font-size: 24px;
    }
    .date-block{
        margin-inline: 80px;
    }
}

@media screen and (min-width: 1200px){
    .row {
        margin: 0 -5px;
        padding-left: 40px;
    }

    .card {
        width: 86%;
        height: 332px;
        margin-right: 40px;
    }
}

.suggest-date-body{
}
.suggest-date-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #F8F8F8;
    box-shadow: 0px 6px 85px rgba(0, 0, 0, 0.15);
    border-radius: 30px;

}
.modal-content{
    display: flex;
    justify-content: center;
}
.suggest-title {

    font-family: 'Inter';
    font-weight: 900;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.date-block {
    text-align: left;
    margin-inline: 10%;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

}

.date-block h5 {
    padding: 5%;
    height: 5%;
    width: 100%;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 100%;
    margin-left: 6%;
    color: #FFFFFF;

}

#today {
    background: #FFB800;
}

#tomorrow {
    background: #E3231E;

}
/* ------------------------------------- film card desktop screen ---------------------------------------------------------------------- */
.timebutton{
    padding-inline: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
    font-size: 16px;
}
.film-card{
    width: 100%;
    background: #F1F1F1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.film-card-body{
    display:grid;
    margin-bottom: 20px;
}
.Time{
    display: inline;
}
.film-times{
    margin-inline:5%;
}
.film-name{
    height: 5px;
    color:#E3231E;
}
.age-access, .lang, .film-name{
   margin-inline:5%;
}
.lang, .age-access{
    font-size: 12px;
    color: #9C9C9C;
}
.oneline .age-access{
    float: right;
}
.line{
    margin-inline:5%;
    border: 1px solid #C6C6C6;
}

.selectedBody{
    text-align: center;
    width: 100%;

}
.selectedBody span{
    padding: 1%;
    color: white;
    display: inline;
}
.selected{
    width: 100%;
    background: #1CC641;
    text-align: center;
    padding: 2%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 400;
    margin-top: 5%;
}

.active-time-btn{
    background: #E3231E;
}
/* ------------------------------------- snack card desktop screen ---------------------------------------------------------------------- */
.snack-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.snack-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 250px;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 0.3rem;
    margin: 13px 10px;
    position: relative;
    border-radius: 5px;
}

.snack-card-title {
    font-weight: 400;
    text-align: center;
}

.snack-card-title .snack-card-price {
    font-weight: bold;
}
.select-btn {
    display: flex;
    margin-left: 25%;
}
.img-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
    object-fit: cover;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.snack-card-price {
    text-align: center;
    display: inline-block;

}

@media screen and (min-width: 1200px){
    .row {
        margin: 0 -5px;
        padding-left: 40px;
    }

    .card {
        width: 86%;
        height: 332px;
        margin-right: 40px;
    }
}




#today {
    background: #FFB800;
}

#tomorrow {
    background: #E3231E;

}
/* ------------------------------------- snack card desktop screen ---------------------------------------------------------------------- */
.snack-container{
    padding:0;
    margin:0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.snack-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 250px;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 0.3rem;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 5px;
}

.snack-card-title {
    font-weight: 400;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    display: block;
}

.select-btn {
    font-size: 16px;
    padding: 10px;
    color:#F8F8F8;
    border: none;
    background: #E3231E;
    display:block;
    margin-top: -5%;
    margin-left: 20%;
    border-radius: 8px;
}
.img-container {
    border-radius: 0px;
    margin: 20px auto;
}

.img-container img {
    height: 133px;
    width: 120px;
}

.btn-container {
    margin: 0;
    display: flex;
    align-items: space-between;
}
.btn-container button {
    height: 46px;
    width: 60px;
    padding:0;
    border: transparent;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #FFFFFF;

}
.snack-card-price {
    text-align: center;
    display: grid;
}

.snack-card-counter{
    position: absolute;

    top: 5%;
    right: 2%;
    width: 40px;
    height: 40px;
    background-color: rgb(227, 112, 30);
    border-radius: 50%;
    transform: translate(20px, -20px) scale(1);
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(227, 112, 30);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    animation: scaleanimation 1s ease infinite;
    opacity: 0.8;
}

@keyframes scaleanimation {
    to {
        transform: translate(20px, -20px) scale(1.05);
        opacity: 1;
    }
}

.hide-element {
    display: none;
}


#increment_btn{
    background: #E3231E;
    margin-right: 15%;
}
#decrement_btn{
    background: #FFB800;
}
/*-------------------------------------- end of desktop screen styles ----------------------------------------------------*/
 /*!------------------------------------ start for mobile size screen ------------------------------------------- */

@media screen and (max-width: 600px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }

    .row {
        padding: 0 20px;

    }

    .container h1 {
        height: 20px;
        margin-top: 18px;
        margin-bottom: 15px;
        margin-left: -30px;
        font-family: Inter;
        font-size: 22px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }

    .card {
        width: 100%;
        background: #F1F1F1;
        height: 180px;
        text-align: center;
        background-color: #f1f1f1;
        margin-top: 16px;
        padding: 4px;
        margin-right: 33px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .card img {
        height: 75px;
        width: 110px;
        border-radius: 290px;
    }

    .card-body h5 {
        height: 13px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    .card-body button {
        margin-bottom: 5px;
        height: 27px;
        width: 90px;
        border-radius: 16px;
        background: #E3231E;
        border-radius: 16px;
        border: transparent;
        color: #fff;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }

  
}
/*!------------------------------------ end for mobile size screen ------------------------------------------- */

/*!--------------------------------------------- for tablet size screen styles ! --------------------------------------------------------- */


@media screen and (min-width: 750px) and (max-width: 1100px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 33px;
    }

    .row {
        padding-left: 50px;
    }

    .container h1 {
        height: 31px;
        margin-top: 18px;
        margin-bottom: 30px;
        margin-left: -33px;
        font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;

    }


    .card {
        background: #F1F1F1;
        height: 300px;
        width: 80%;
        text-align: center;
        background-color: #f1f1f1;
        margin-top: 30px;
        margin-right: 65px;

    }

    .card img {
        height: 130px;
        width: 220px;
        border-radius: 290px;
    }

    .card-body h5 {
        height: 19px;
        font-family: Inter;
        font-size: 26px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        margin-top: -5px;
        margin-bottom: 19px;

    }

    .card-body button {
        margin-bottom: 15px;
        height: 60px;
        width: 200px;
        border-radius: 16px;
        background: #E3231E;
        border-radius: 16px;
        border: transparent;
        color: #fff;
        font-family: Inter;
        font-size: 31px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;

    }


}

/*!--------------------------------------------- end tablet size screen styles ! --------------------------------------------------------- */

