*{
    box-sizing: border-box;
}
#root,  .header-container {
    width: 100%;
    margin: 0;
    padding: 0;
}
#root a {
    text-decoration: none;
}
body {
    font-family: Inter, sans-serif;
    background-color: #EFEFEF;
}
/* SeatPrice style */
.seatPriceBlockAll{
    margin-top: 20px;
    background-color: white;
    padding-block: 10px;
}
.seatPriceBody hr{
    color: #9C9C9C;
}
.seatPriceBody span{
    float: right;
}
.seatPriceBody{
    width: 100%;
    height: 100%;
    margin-block: 40px;
    font-weight: 600;
}
.seatPriceTitle{
    margin-block-end: 30px;
    text-align: center;
    font-weight: bold;
}
.VIP{
    color: #DBDBDB;
}
/* SeatPlace style */
.cinemaPlaceBlockAll{
    background-color: white;
    padding-block: 10px;
}
:root{
 --seat-width:15px;
 --seat-height: calc(var(--seat-width)*0.8);
 --grid-seat-width: calc(var(--seat-width)*1.2);
 --grid-seat-width-end: calc(var(--seat-width)*1.8);
}
.screen{
    background-color: #9C9C9C;
    transform: rotateX(-50deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
    width: 100%;
    height: 10px;
    
}
.placeTitle{
    font-weight: bold;
    margin-top:20px;
    text-align: center;
}
.cinemaRoom{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: stretch;
}
.place{
    border: 2px;
    border-style:inset;
    background-color: #BCBCBC;
    height: var(--seat-height);
    width: var(--seat-width);
   
}
.place:hover{
    background-color: #FFB800;
    transition: 1s;
}
.placeContainer {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(15, var(--grid-seat-width));
    grid-template-rows: repeat(1, var(--grid-seat-width));
}
.rowNums{
    margin-right: 10px;
    color:#BCBCBC;
    font-size: 100%; 
}

@media screen and (min-width: 800px) {
    .place {
        margin: 3px;
    }
    .rowNums{
        margin-inline-start: 3%;
    }
  }
@media screen and (min-width: 300px) {
    .place {
        margin: 3px;
    }
    .rowNums{
        margin-inline-start: 3%;
    }
  }
@media screen and (min-width: 200px) {
    .place {
        margin: 3px;
        --seat-width:10px;
    }
    .rowNums{
        margin-inline-start: 0px;
    }
  }
/* Float four columns side by side */
/* ----------------------------------------- start of desktop screen styles  -------------------------*/
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.container, .header-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-container {
    text-align: center;
}

.container h1 {
    text-align:  center;
    display: inline-block;
    height: 44px;
    margin-top: 86px;
    margin-bottom: 44px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 30px;
}

.row {
    margin: 0 -5px;
    padding-inline: 5%;
    padding-left: 120px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Style for the CinemaPlace */
/* MOBILE */
@media screen and (min-width: 100px) and (max-width:200px){

    .selectedElements{
        margin-inline: 10px;
        padding-block: 20px;
        font-size: 8px;
    }
}
@media screen and (min-width: 200px) and (max-width:300px){
    .selectedElements{
        margin-inline: 10px;
        padding-block: 20px;
        font-size: 10px;
    }
}
@media screen and (min-width: 300px) and (max-width:700px){

    .selectedElements{
        margin-inline: 10px;
        padding-block: 20px;
        font-size: 14px;
    }
}
@media screen and (min-width: 700px) and (max-width:1000px){

    .selectedElements{
        padding-block: 20px;
        margin-inline: 15px;
        font-size: 16px;
    }
}
/* DESKTOP AND ETC. */
@media screen and (min-width: 1000px) and (max-width:1400px){

    .selectedElements{
        padding-block: 20px;
        margin-inline: 15px;
        font-size: 18px;
    }
}
@media screen and (min-width: 1400px) and (max-width:2000px){

    .selectedElements{
        padding-block: 20px;
        margin-inline: 25px;
        font-size: 18px;

    }
}
/* MAIN */
.allInfoBlockAll{
    margin-top: 15px;
    background-color:white;
}
.cinemaPlaceBody{
    padding-bottom: 20px;
}
.selectedElements{
    font-weight: bold;
}
.leftSide span{
    float: left;
}
.rightSide{
    float: right;
}
/*********************************** STYLE FOR FILM BLOCK ************************************/
/* MOBILE */
@media screen and (min-width: 100px) and (max-width:200px){
    .filmBlockBody{
        padding-block: 10px;
        margin-top: 15px;
    }
    .filmImage{
        width: 50px;
        height: 50px;
        margin-inline-start: 5px;
        margin-inline-end: 10px;
        margin-top: 10px;
    }
    .filmInfoBlockOne{
        margin-top: 20px;
    }
    .filmInfoBlockTwo{
        margin-top: 20px;
    }
    .filmName{
        font-size: 10px;
    }
    .filmAgeAccess, .filmLang{
        font-size: 8px;
    }
    .filmTime{
        font-size: 10px;
    }
  }
@media screen and (min-width: 201px) and (max-width:300px){
    .filmBlockBody{
        padding-block: 10px;
        margin-top: 15px;
    }
    .filmImage{
        width: 50px;
        height: 60px;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
    }
    .filmInfoBlockOne{
        margin-top: 10px;
    }
    .filmInfoBlockTwo{
        margin-top: 10px;
    }
    .filmName{
        font-size: 12px;
    }
    .filmAgeAccess, .filmLang{
        font-size: 9px;
    }
    .filmTime{
        font-size: 12px;
    }
  }
@media screen and (min-width: 301px) and (max-width:400px){
    .filmBlockBody{
        padding-block: 10px;
        margin-top: 10px;
    }
    .filmImage{
        width: 60px;
        height: 70px;
        margin-inline-start: 15px;
        margin-inline-end: 15px;
    }
    .filmInfoBlockOne{
        margin-top: 15px;
    }
    .filmInfoBlockTwo{
        margin-top: 15px;
    }
    .filmName{
        font-size: 15px;
 
    }
    .filmAgeAccess, .filmLang{
        font-size: 10px;
    }
    .filmTime{
        font-size: 15px;
 
    }
  }
  @media screen and (min-width: 400px) and (max-width:700px){
    .filmBlockBody{
        padding-block: 15px;
        margin-top: 15px;
    }
    .filmImage{
        width: 70px;
        height: 80px;
        margin-inline-start: 15px;
        margin-inline-end: 20px;
    }
    .filmInfoBlockOne{
        margin-top: 20px;
    }
    .filmInfoBlockTwo{
        margin-top: 20px;
    }
    .filmName{
        font-size: 16px;
        
    }
    .filmAgeAccess, .filmLang{
        font-size: 11px;
    }
    .filmTime{
        font-size: 16px;
 
    }
  }
/* IPAD's */
@media screen and (min-width: 700px) and (max-width:1000px){
    .filmBlockBody{
        padding-block: 20px;
        margin-top: 15px;
    }
    .filmImage{
        width: 100px;
        height: 120px;
        margin-inline-start: 15px;
        margin-inline-end: 25px;
    }
    .filmInfoBlockOne{
        margin-top: 20px;
    }
    .filmInfoBlockTwo{
        margin-top: 20px;
    }
    .filmName{
        font-size: 24px;
        display: flex;
    }
    .filmAgeAccess, .filmLang{
        font-size: 16px;
    }
    .filmTime{
        font-size: 24px;
        display: flex;
    }
  }
/* DESKTOP AND ETC. */
@media screen and (min-width: 1000px){
    .filmBlockBody{
        padding-block: 20px;
        margin-top: 15px;
    }
    .filmImage{
        width: 100px;
        height: 120px;
        margin-inline-start: 15px;
        margin-inline-end: 25px;
    }
    .filmInfoBlockOne{
        margin-top: 20px;
    }
    .filmInfoBlockTwo{
        margin-top: 20px;
    }
    .filmName{
        font-size: 24px;
        display: flex;
    }
    .filmAgeAccess, .filmLang{
        font-size: 16px;
    }
    .filmTime{
        font-size: 24px;
        display: flex;
    }
  }
  
/*MAIN*/

.filmBlockBody{
    background-color: white;
    width: 100%;
    text-align:start;  
}
.filmInfoBody{
    display: flex;
}
.filmTime{
    font-weight: 550;
}
.filmInfoBlockOne{
    width: 40%;
    height: 35%;
}
.filmInfoBlockTwo{
    width: 50%;
    height: 35%;
}
.filmAgeAccess, .filmLang{
    color: #9C9C9C;
}
.filmName{
    color: #E3231E;
    font-weight: 550;
}

/* Style for the green component */
@media screen and (min-width: 100px) and (max-width:500px){
    .selectedBody{
       font-size: 14px;
    }
}
@media screen and (min-width: 500px) and (max-width:700px){
    .selectedBody{
       font-size: 16px;
    }
}
@media screen and (min-width: 700px) and (max-width:1000px){
    .selectedBody{
       font-size: 18px;
    }
}
.selectedBody{
    text-align: center;
    width: 100%;
}
.selectedBody span{
    padding: 1%;
    color: white;
    display: inline;
}
.selected{
    width: 100%;
    background: #1CC641;
    text-align: center;
    padding: 1.5%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 400;

}
/* Style the counter cards */
.card {
    width: 338px;
    height: 332px;
    text-align: center;
    background-color: #fff;
    padding: 10px;

    margin-top: 47px;
    margin-right: 94px;
    background: #F1F1F1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.card img {
    height: 127px;
    width: 180px;
    border-radius: 290px;
}

.card-body {
    margin-top: 40px;
    padding: 0;
    text-align: center;
}

.card-body h5 {
    height: 31px;
    font-family: Inter;
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    margin-bottom:  30px;

}
.card-body button{
    margin-bottom: 15px;
    height: 67px;
    width: 210px;
    border-radius: 16px;
    background: #E3231E;
    border-radius: 16px;
    border: transparent;
    color: #fff;
    font-family: Inter;
    font-size: 31px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

}
@media screen and (min-width: 200px){
    .suggest-date-body{
        width: 200px; 
        padding-bottom: 15px;   
    }
    .suggest-title{
        font-size: 16px
    }
    .date-block h5{
        padding: 10px;
        font-size: 12px;  
    }
    .date-block{
        margin-inline: 50px;
    }
}
@media screen and (min-width: 300px){
    .suggest-date-body{
        width: 350px; 
        padding-bottom: 15px;   
    }
    .suggest-title{
        font-size: 18px
    }
    .date-block h5{
        padding: 15px;
        font-size: 16px;  
    }
    .date-block{
        margin-inline: 50px;
    }
}

@media screen and (min-width: 700px){      
    .suggest-date-body{
        width: 600px;  
        padding-bottom: 15px; 
    }
    .suggest-title{
        font-size: 24px
    }
    .date-block h5{
        padding-block: 20px;
        font-size: 22px;
    }
    .date-block{
        margin-inline: 80px;
    }
}
@media screen and (min-width: 900px){      
    .suggest-date-body{
        width: 600px;  
        padding-bottom: 20px; 
    }
    .suggest-title{
        font-size: 26px
    }
    .date-block h5{
        padding-block: 20px;
        font-size: 24px;
    }
    .date-block{
        margin-inline: 80px;
    }
}

@media screen and (min-width: 1200px){
    .row {
        margin: 0 -5px;
        padding-left: 40px;
    }

    .card {
        width: 86%;
        height: 332px;
        margin-right: 40px;
    }
}

.suggest-date-body{

    background: #F8F8F8;
    box-shadow: 0px 6px 85px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
.modal-content{
    display: flex;
    justify-content: center;
}
.suggest-title {
    font-family: 'Inter';
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.date-block {
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.date-block a{
    text-decoration: none;
}

.date-block h5 {
    font-family: 'Inter';
    font-weight: 400;
    color: #FFFFFF;

}

#today {
    background: #FFB800;
}

#tomorrow {
    background: #E3231E;

}
/* ------------------------------------- film card desktop screen ---------------------------------------------------------------------- */
.timebutton{
    padding-inline: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
    font-size: 16px;
}
.film-card{
    width: 100%;
    background: #F1F1F1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.film-card-body{
    display:grid;
    margin-bottom: 20px;
}
.Time{
    display: inline;
}
.film-times{
    margin-inline:5%;
}
.film-name{
    height: 5px;
    color:#E3231E;
}
.age-access, .lang, .film-name{
   margin-inline:5%;
}
.lang, .age-access{
    font-size: 12px;
    color: #9C9C9C;
}
.oneline .age-access{
    float: right;
}
.line{
    margin-inline:5%;
    border: 1px solid #C6C6C6;
}

.selectedBody{
    text-align: center;
    width: 100%;

}
.selectedBody span{
    padding: 1%;
    color: white;
    display: inline;

}

.selected{
    width: 100%;
    background: #1CC641;
    text-align: center;
    padding: 2%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 400;
    margin-top: 5%;

}

.active-time-btn{
    background: #E3231E;
}


/* ------------------------------------- snack card desktop screen ---------------------------------------------------------------------- */
.snackBlockAll{
    background-color: white;
    margin-top: 15px;
}
.snaksTitle{
    padding: 20px;
    color: #E3231E;
    font-weight: 600;
}
.snack-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.snack-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 250px;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 0.3rem;
    margin: 13px 10px;
    position: relative;
    border-radius: 5px;
}

.snack-card-title {
    font-weight: 400;
    text-align: center;
}

.snack-card-title .snack-card-price {
    font-weight: bold;
}
.select-btn {
    display: flex;
    margin-left: 25%;
}
.img-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
    object-fit: cover;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.snack-card-price {
    text-align: center;
    display: inline-block;

}

@media screen and (min-width: 1200px){
    .row {
        margin: 0 -5px;
        padding-left: 40px;
    }

    .card {
        width: 86%;
        height: 332px;
        margin-right: 40px;
    }
}


#today {
    background: #FFB800;
}

#tomorrow {
    background: #E3231E;

}
/* ------------------------------------- snack card desktop screen ---------------------------------------------------------------------- */
.snack-container{
    padding:0;
    margin:0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.snack-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 250px;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 0.3rem;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 5px;
}

.snack-card-title {
    font-weight: 400;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    display: block;
}

.select-btn {
    font-size: 16px;
    padding: 10px;
    color:#F8F8F8;
    border: none;
    background: #E3231E;
    display:block;
    margin-top: -5%;
    margin-left: 20%;
    border-radius: 8px;
}
.img-container {
    border-radius: 0px;
    margin: 20px auto;
}

.img-container img {
    height: 133px;
    width: 120px;
}

.btn-container {
    margin: 0;
    display: flex;
    align-items: space-between;
}
.btn-container button {
    height: 46px;
    width: 60px;
    padding:0;
    border: transparent;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #FFFFFF;

}
.snack-card-price {
    text-align: center;
    display: grid;
}

.snack-card-counter{
    position: absolute;

    top: 5%;
    right: 2%;
    width: 40px;
    height: 40px;
    background-color: rgb(227, 112, 30);
    border-radius: 50%;
    transform: translate(20px, -20px) scale(1);
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(227, 112, 30);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    animation: scaleanimation 1s ease infinite;
    opacity: 0.8;
}

@keyframes scaleanimation {
    to {
        transform: translate(20px, -20px) scale(1.05);
        opacity: 1;
    }
}

.hide-element {
    display: none;
}


#increment_btn{
    background: #E3231E;
    margin-right: 15%;
}
#decrement_btn{
    background: #FFB800;
}
/*-------------------------------------- end of desktop screen styles ----------------------------------------------------*/
 /*!------------------------------------ start for mobile size screen ------------------------------------------- */

 @media screen and (min-width: 150px) and (max-width: 350px){
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }

    .row {
        padding: 0 20px;

    }

    .container h1 {
        height: 20px;
        margin-top: 18px;
        margin-bottom: 15px;
        margin-left: -30px;
        font-family: Inter;
        font-size: 22px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }

    .card {
        width: 100%;
        background: #F1F1F1;
        height: 150px;
        text-align: center;
        background-color: #f1f1f1;
        margin-top: 16px;
        padding: 4px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .card img {
        height: 40px;
        width: 50px;
        border-radius: 290px;
    }

    .card-body h5 {
        height: 13px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    .card-body button {

        height: 22px;
        width: 60px;
        border-radius: 16px;
        background: #E3231E;
        border: transparent;
        color: #fff;
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
    } 
}
@media screen and (min-width: 350px) and (max-width: 450px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }

    .row {
        padding: 0 20px;

    }

    .container h1 {
        height: 20px;
        margin-top: 18px;
        margin-bottom: 15px;
        margin-left: -30px;
        font-family: Inter;
        font-size: 26px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }

    .card {
        width: 100%;
        background: #F1F1F1;
        height: 240px;
        text-align: center;
        background-color: #f1f1f1;
        margin-top: 16px;
        padding: 10px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .card img {
        height: 80px;
        width: 110px;
        border-radius: 290px;
    }

    .card-body h5 {
        height: 13px;
        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    .card-body button {
        height: 35px;
        width: 100px;
        border-radius: 12px;
        background: #E3231E;
        border: transparent;
        color: #fff;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
    } 
}
@media screen and (min-width: 450px) and (max-width: 750px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }

    .row {
        padding: 0 20px;

    }

    .container h1 {
        height: 20px;
        margin-top: 18px;
        margin-bottom: 15px;
        margin-left: -30px;
        font-family: Inter;
        font-size: 26px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }

    .card {
        width: 100%;
        background: #F1F1F1;
        height: 240px;
        text-align: center;
        background-color: #f1f1f1;
        margin-top: 16px;
        padding: 10px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .card img {
        height: 100px;
        width: 160px;
        border-radius: 290px;
    }

    .card-body h5 {
        height: 13px;
        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    .card-body button {
        height: 35px;
        width: 120px;
        border-radius: 12px;
        background: #E3231E;
        border: transparent;
        color: #fff;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
    } 
}

/*!------------------------------------ end for mobile size screen ------------------------------------------- */

/*!--------------------------------------------- for tablet size screen styles ! --------------------------------------------------------- */

@media screen and (min-width: 750px) and (max-width: 1200px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 33px;
    }

    .row {
        padding-left: 120px;
    }

    .container h1 {
        height: 31px;
        margin-top: 18px;
        margin-bottom: 30px;
        margin-left: -33px;
        font-family: Inter;
        font-size: 32px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;

    }


    .card {
        background: #F1F1F1;
        height: 300px;
        width: 80%;
        text-align: center;
        background-color: #f1f1f1;
        margin-top: 30px;
        margin-right: 65px;

    }

    .card img {
        height: 130px;
        width: 200px;
        border-radius: 290px;
    }

    .card-body h5 {
        height: 19px;
        font-family: Inter;
        font-size: 26px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        margin-top: -5px;
        margin-bottom: 19px;

    }

    .card-body button {
        margin-bottom: 15px;
        height: 60px;
        width: 200px;
        border-radius: 16px;
        background: #E3231E;
        border-radius: 16px;
        border: transparent;
        color: #fff;
        font-family: Inter;
        font-size: 31px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;

    }


}
/*!--------------------------------------------- end tablet size screen styles ! --------------------------------------------------------- */

